// -------- Colors -----------
$primary-color: #f73351;
$primary-light: #ff5e71;
$warning-color: #faad14;
$error-color: #ff4d4f;
$black: #000;
$white: #fff;
// Base Scaffolding Variables
$label-color: rgba($black, 0.85);
$text-color: rgba($black, 0.65);
$font-size-base: 14px;
$font-size-lg: $font-size-base + 2px;
$font-size-xl: $font-size-lg + 2px;
$font-size-sm: $font-size-base - 2px;
